extends layout 
 
block content 
  h1= title 
 
  - let Icecreamid = toShow._id 
  - let brand = toShow.brand 
  - let flavour = toShow.flavour 
  - let cost = toShow.cost 
   
  div.row(class='mb-2') 
    div.mr-1 ID is 
    div #{Icecreamid} 
  - let actionid = "/resource/Icecream/" + Icecreamid 
  form(id='IcecreamForm', action= actionid, method="PUT") 
    div.form-group 
        label.IcecreamAttr(for='brand') Icecream brand
        input#brand(type='text', brand='brand', value= brand ) 
    div.form-group 
        label.IcecreamAttr(for='flavour') Icecream flavour 
        input#flavour(type='text', brand='flavour', value= flavour ) 
    div.form-group 
        label.IcecreamAttr(for='cost') Icecream cost 
        input#cost(type='number', brand='cost', value= cost ) 
    input(type="submit") 
 
  script. 
    document.forms['IcecreamForm'].addEventListener('submit', (event) => { 
      event.preventDefault(); 
      // TODO do something here to show user that form is being submitted 
      fetch(event.target.action, { 
        method: 'PUT', 
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Update succeded") 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Update failed " + error ) 
      }); 
    });